<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">ブロスタ掲示板</h1>
    <p class="lead">日本最大級のブロスタ専用掲示板です</p>
  </div>
</div>

<%= render partial: "my_threads/list", locals: {my_threads: @my_threads} %>